{% extends 'base.html' %}
{% load static %}
{% block content %}
  <nav class="navbar bg-dark">
    <h1>
      <a href="dashboard.html"> <i class="fas fa-code"></i> DevConnector </a>
    </h1>
    <ul>
      <li>
        <a href="profiles.html">Developers</a>
      </li>
      <li>
        <a href="register.html">Register</a>
      </li>
      <li>
        <a href="login.html">Login</a>
      </li>
    </ul>
  </nav>
  <section class="landing">
    <div class="dark-overlay">
      <div class="landing-inner">
        <h1 class="x-large">Developer Connector</h1>
        <p class="lead">
          Create developer profile/portfolio, share posts and get help from
          other developers
        </p>
        <div class="buttons">
          <a href="register.html" class="btn btn-primary">Sign Up</a>
          <a href="login.html" class="btn btn">Login</a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
