{% extends 'base.html' %}
{% load static %}
{% block content %}
  
  <section class="container">
    <h1 class="large text-primary">Posts</h1>
    <p class="lead">
      <i class="fas fa-user"></i> Welcome to the community
    </p>
    <div class="post-form">
      <div class="post-form-header bg-primary">
        <h3>Say Something...</h3>
      </div>
      <form class="form my-1">
        <textarea cols="30" rows="5" placeholder="Create a post"></textarea>
        <input type="submit" value="Submit" class="btn btn-dark my-1" />
      </form>
      <div class="posts">
        {% for post in blog_post %}
        
        <div class="post bg-white my-1 p-1">
          <div>
            <a href="{{post.author.get_absolute_url}}">
              <img class="round-img"
                   src="{{post.author.picture.url}}"
                   alt=""/>
              <h4>{{post.author.user.username}}</h4>
            </a>
          </div>
          <div>
            <h1>{{post.title}}</h1>
            <p class="my-1">
              {{post.body}}
            </p>
            <small>{{post.created_at|timesince}}</small>
            <button class="btn">
              <i class="fas fa-thumbs-up"></i> <span>{{post.like.count}}</span>
            </button>
            <button class="btn">
              <i class="fas fa-thumbs-down"></i><span>{{post.dislike.count}}</span>
            </button>
            <a href="{{post.get_absolute_url}}" class="btn btn-primary">Discussion</a>
          </div>
        </div>
        {% endfor %}

        
      </div>
    </div>
  </section>
{% endblock content %}
